In [6]:
import pandas as pd

In [7]:
df=pd.read_csv('Walmart_sales_analysis (1).csv')

In [3]:
df.head()

,Store_Number,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,2/5/2010,"1,643,691",0,42.31,2.572,211,8.106
1,1,2/12/2010,"1,641,957",1,38.51,2.548,211,8.106
2,1,2/19/2010,"1,611,968",0,39.93,2.514,211,8.106
3,1,2/26/2010,"1,409,728",0,46.63,2.561,211,8.106
4,1,3/5/2010,"1,554,807",0,46.50,2.625,211,8.106

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6435 entries, 0 to 6434
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store_Number  6435 non-null   int64
 1   Date          6435 non-null   object
 2   Weekly_Sales  6435 non-null   object
 3   Holiday_Flag  6435 non-null   int64
 4   Temperature   6435 non-null   float64
 5   Fuel_Price    6435 non-null   float64
 6    CPI          6435 non-null   int64
 7   Unemployment  6435 non-null   float64
dtypes: float64(3), int64(3), object(2)
memory usage: 402.3+ KB

In [8]:
#Tushib qolgan qiymatlarni korish
df.isnull().sum()

Store_Number    0
Date            4
Weekly_Sales    7
Holiday_Flag    0
Temperature     6
Fuel_Price      7
 CPI            0
Unemployment    6
dtype: int64

# Mean

In [10]:
df['Fuel_Price'].fillna(df['Fuel_Price'].mean(),inplace=True)

C:\Users\user\AppData\Local\Temp\ipykernel_17156\744102509.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Fuel_Price'].fillna(df['Fuel_Price'].mean(),inplace=True)

# Mode

In [11]:
df['Weekly_Sales'].fillna(df['Weekly_Sales'].mode()[0],inplace=True)

C:\Users\user\AppData\Local\Temp\ipykernel_17156\152981175.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Weekly_Sales'].fillna(df['Weekly_Sales'].mode()[0],inplace=True)

# Median

In [15]:
df['Temperature'].fillna(df['Temperature'].median(),inplace=True)

C:\Users\user\AppData\Local\Temp\ipykernel_17156\4035729802.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Temperature'].fillna(df['Temperature'].median(),inplace=True)

# Fixed

In [13]:
df['Unemployment'].fillna(7,inplace=True)

C:\Users\user\AppData\Local\Temp\ipykernel_17156\112737714.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Unemployment'].fillna(7,inplace=True)

In [16]:
df.isnull().sum()

Store_Number    0
Date            4
Weekly_Sales    0
Holiday_Flag    0
Temperature     0
Fuel_Price      0
 CPI            0
Unemployment    0
dtype: int64

In [17]:
df.drop('Date',axis=1,inplace=True)

In [18]:
df.isnull().sum()

Store_Number    0
Weekly_Sales    0
Holiday_Flag    0
Temperature     0
Fuel_Price      0
 CPI            0
Unemployment    0
dtype: int64